
<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="table">
    <tr>
      <div class="form-row">
        <td>
          <div class="formlable">
            <%= form.label :title,class:"form-label" %>
          </div>
        </td>
        <td>
          <div class="formfield">
             <%= form.text_field :title , class: "form-control" %>
          </div>
        </td>
      </div>
    </tr>
  <tr>
    <div class="form-row">
      <td>
        <div class="formlable">
          <%= form.label :image %>
        </div>
      </td>
      <td>
        <div >
           <%= form.file_field :image %>
        </div>
      </td>
    </div>
  </tr>
  <tr>
    <div class="form-row">
      <td>
        <div class="formlable">
          <%= form.label :body, class:"form-label"  %>
        </div>
      </td>
      <td>
        <div class="formfield">
           <%= form.rich_text_area :body %>
        </div>
      </td>
    </div>
  </tr>
  <tr>
    <div class="form-row">
      <td>
        <div class="formlable">
          <%= form.label :category%>
        </div>
      </td>
      <td>
        <div class="formfield">
           <%= form.select :category_id, Category.all.map {|c|[c.name, c.id]}, class: "form-control" %>
        </div>
      </td>
    </div> 
  </tr>

  <tr>
    <td>
      <%= form.label :tag, class: "formlable" %>
    </td>
    <td>

      <% @blog.tags.each_with_index do |tag,i| %>
        <input type="hidden" value="<%= tag.id %>" name="blog[tags_attributes][<%= i %>][id]" >
        <label>Tag:<%= i +1 %> <%=tag.name  %>:  </label>
        <input type="hidden" value="false" name="blog[tags_attributes][<%= i %>][_destroy]">
        <input type="checkbox" value="true" name="blog[tags_attributes][<%= i %>][_destroy]">
        <br><br>
        <% end %>
        <label>Create New Tag: <input type="text" value="" name="blog[tags_attributes][<%= @blog.tags.count %>][name]"></label>

    </td>  
  </tr>
  <tr>
    <div class="form-row">
      <td>
        <div class="formlable">
             <%= form.label :user_id  %>
        </div>
      </td>
      <td>
        <div class="formfield">
           <%= form.select :user_id, User.all.map {|c|[c.name, c.id]}, class: "form-control" %>
        </div>
      </td>
    </div>
  </tr>
  <tr>
    <td>  
      <div class="action">
        <%= form.submit  class: "btn-submit" %>
      </div>
    </td>
  </tr>
<% end %>
</table>

