<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
    <div class="formlable">
      <%= form.label :title,class:"form-label" %>
    </div>
    <div class="formfield">
       <%= form.text_field :title , class: "form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="formlable">
      <%= form.label :image %>
    </div>
    <div >
       <%= form.file_field :image %>
    </div>
  </div>
  <div class="form-row">
    <div class="formlable">
      <%= form.label :body, class:"form-label"  %>
    </div>
    <div class="formfield">
       <%= form.rich_text_area :body %>
    </div>
  </div>
  <div class="form-row">
    <div class="formlable">
      <%= form.label :category%>
    </div>
    <div class="formfield">
       <%= form.select :category_id, Category.all.map {|c|[c.name, c.id]}, class: "form-control" %>
    </div>
  <% @blog.tags.each_with_index do |tag, i| %> 
    <div>
      <input type="hidden" value="<%= tag.id %>" name="blog[tags_attributes][<%= i %>][id]">
      <label>Tag#<%= i + 1%>: <input type="text" value="<%= tag.name %>" name="user[tags_attributes][<%= i %>][name]"></label>
      <input type="hidden" value="false" name="blog[tags_attributes][<%= i %>][_destroy]">
      <input type="checkbox" value="true" name="blog[tags_attributes][<%= i %>][_destroy]">
    </div>
  <% end %>

  <label>New tag: <input type="text" value="" name="blog[tags_attributes][<%= @blog.tags.count %>][name]"></label>
  <div class="form-row">
    <div class="formlable">
         <%= form.label :user_id  %>
    </div>
    <div class="formfield">
       <%= form.select :user_id, User.all.map {|c|[c.name, c.id]}, class: "form-control" %>
    </div>
  </div>  
  <div class="action">
    <%= form.submit  class: "btn-submit" %>
  </div>
<% end %>
