<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title%>
    <%= form.text_field :title , class: "form-control" %>
  </div>
  <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image, class: "form-control" %>
  </div>
  <div class="field">
      <%= form.label :body %>
      <%= form.rich_text_area :body%>
  </div>
  <br>
  <div class="field">
      <%= form.label :category%><br>
      <%= form.select :category_id, Category.all.map {|c|[c.name, c.id]}, class: "form-control" %>
  </div><br/>
  
   <div class="form-row">
    <div class="formlable">
      <label>Tags: </label>
    </div>
    <div class="formfield">
      <% Tag.all.each_with_index do |tag, i| %> 
        <% blog_tag = @blog.blog_tags.where(tag_id: tag.id).last %>
        <div class="mr-2">
          <input type="hidden" value="<%= blog_tag.try(:id) %>" name="blog[blog_tags_attributes][<%= i %>][id]">
          <input type="hidden" value="<%= tag.try(:id) %>" name="blog[blog_tags_attributes][<%= i %>][tag_id]">
          <label>
            <%=tag.name  %> 
            <input type="hidden" value="true" name="blog[blog_tags_attributes][<%= i %>][_destroy]">
            <input type="checkbox" value="false" name="blog[blog_tags_attributes][<%= i %>][_destroy]" <%= 'checked=true' if blog_tag.present? %>>
          </label>
        </div>
      <% end %>
    </div>
  </div>
  <br/>
  <div class="form-row">
    <div class="formlable">
      <%= form.label :user_id  %>
    </div>
    <div class="formfield">
      <%= current_user.name %>
    </div>
  </div> 
  

  <div class="action">
    <%= form.submit  class: "btn-submit" %>
  </div>



<% end %>


