<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title%>
    <%= form.text_field :title , class: "form-control" %>
  </div>
  <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image, class: "form-control" %>
  </div>
  <div class="field">
      <%= form.label :body %>
      <%= form.rich_text_area :body%>
  </div>
  <div class="field">
      <%= form.label :category%>
      <%= form.select :category_id, Category.all.map {|c|[c.name, c.id]}, class: "form-control" %>
  </div><br/>
  
  <div class="field">
   <%= form.label :tags %>
   <% Tag.all.each do |tag| %> 
     <%= check_box_tag "blog[tag_ids][]", tag.id %>
     <%= tag.name %>  
   <% end %> 
  </div>

  <div class="field">
       <%= form.label :user_id  %>
       <%= form.select :user_id, User.all.map {|c|[c.email, c.id]}, class: "form-control" %>
  </div>  

  

  <div class="action">
    <%= form.submit  class: "btn-submit" %>
  </div>



<% end %>


