<p id="notice"><%= notice %></p>
<div class="showblog">
  <h2>
    <%= @blog.title %>
  </h2>
    <hr>
      <%= image_tag(@blog.image , style: "height:100%; width:100%;") if @blog.image.present?  %>
      <h5> <strong>Category: </strong>
        <%= @blog.category.try(:name) %>
      </h5>
      <h5> <strong>Tag: </strong>
        <%= @blog.tag_list %>
      </h5>
        <p><%= @blog.body %></p>
          <%= link_to 'Edit', edit_blog_path(@blog) %> |
          <%= link_to 'Back', blogs_path %>
</div
