<p id="notice"><%= notice %></p>


<div class="container" id="show-blog">
  <h2><%= @blog.title %></h2>

  <div class="image-container">
   <%= image_tag(@blog.image, class: "img-fluid") %>
  <div> 
  <div class="content">
      <small>Category:<%= @blog.category.try(:name) %></small><br>
      <small> BY:<%= @blog.user.email %></small><br>
      <small>Tags:<%= @blog.tag_list%></small>
       
      <p><%= @blog.body %></p>
      <%= link_to 'Edit', edit_blog_path(@blog) %> |
      <%= link_to 'Back', blogs_path %>
  </div>
</div>


