<p id="notice"><%= notice %></p>
<div class="showblog">
  <center>
    <h2>
      <%= @blog.title %>
    </h2>

    <hr>
      <%= image_tag(@blog.image , style: "height:250px; width:250px;") if @blog.image.present?  %>
  </center>
  <br>
      <h5> <strong>Category: </strong>
        <%= @blog.category.try(:name) %>
      </h5>
      <h5> <strong>Tag: </strong>
        <%= @blog.tag_list%>
      </h5>
      <h5> <strong>Body: </strong>
        <%= @blog.body%>
      </h5>
      <div class="card my-1">
      <div class="card-body">
        
        <h3>Comments :</h3>

          <%= form_for [@blog, Comment.new] do |f| %>
            <%= f.text_area :body, placeholder: "Add a comment",size:"30",id:"comment-form" %><br/>
            <%= f.submit "Add Comment",class:"btn btn-outline-success",id:"comment-form-button" %>
          <% end %>

        <ul>
          <%= render @blog.comments %>
        </ul>
        </div>

        </div>
        
        
          <% if user_signed_in? && current_user == @blog.user %>
            <span><%= link_to 'Edit', edit_blog_path(@blog) %></span>
            <span><%= link_to 'Destroy', @blog, method: :delete, data:{ confirm: 'Are you sure?' } %></span>
         <% end %>
 </div>
 <br><br>

