<p id="notice"><%= notice %></p>
<div class="showblog">
  <h2>
    <%= @blog.title %>
  </h2>
    <hr>
      <%= image_tag(@blog.image , style: "height:100%; width:100%;") if @blog.image.present?  %>
      <h5> <strong>Category: </strong>
        <%= @blog.category.try(:name) %>
      </h5>
      <h5> <strong>Tag: </strong>
        <%= @blog.tag_list%>
      </h5>

      <div class="card my-1">
      <div class="card-body">
        <%= render @blog.comments %>
       <p class="font-weight-bold">Comments</p>
        <%= form_with(model: [@blog, @blog.comments.build]) do |f| %>
         <div class="form-group">
         <%= f.label 'New comment' %>
        <%= f.text_area :body, class: 'form-control' %>
        </div>
         <%= f.submit 'Submit', class: 'btn btn-primary' %>

        <% end %>
        </div>

        </div>
        
        <p><%= @blog.body %></p>
          <% if user_signed_in? && current_user == @blog.user %>
            <span><%= link_to 'Edit', edit_blog_path(@blog) %></span>
            <span><%= link_to 'Destroy', @blog, method: :delete, data:{ confirm: 'Are you sure?' } %></span>
         <% end %>
 </div>

