<p id="notice"><%= notice %></p>


<div class="container" id="show-blog">
  <h2><%= @blog.title %></h2>

  <div class="image-container">
   <%= image_tag(@blog.image, class: "img-fluid") %>
  <div> 
  <div class="content">
      <small>Category:<%= @blog.category.try(:name) %></small><br>
      <small> BY:<%= @blog.user.email %></small><br>
      <small>Tags:<%= @blog.tag_list%></small>
      
    

       <% if ((user_signed_in? && current_user == @blog.user) or (user_signed_in? &&current_user.role== "ADMIN")) %>
           <%= link_to 'Edit', edit_blog_path(@blog), class: "btn" %>
       <% end %>
        <%= link_to 'Back', blogs_path , class: "btn" %>               
       
      <p><%= @blog.body %></p>
      <% if (user_signed_in?)%>
      <div class="card my-1">
          <div class="card-body">
           <%= render @blog.comments %>
            <p class="font-weight-bold">Comments</p>
            <%= form_with(model: [@blog, @blog.comments.build]) do |f| %>
              <div class="form-group">
                <%= f.label 'New comment' %>
                <%= f.text_area :body, class: 'form-control' %>
              </div>
              <%= f.submit 'Submit', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
        <% end %>
  </div>
</div>



