<%= form_with(model: hobby, local: true) do |form| %>
  <% if hobby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hobby.errors.count, "error") %> prohibited this hobby from being saved:</h2>

      <ul>
        <% hobby.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name , class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id , class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit ,  class: "btn-submit" %>
  </div>
<% end %>
