 <div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">
          <b>Admin:- <%= @admin %></b>
        </div>
        <hr>
        <a class="nav-link" href="/admin">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
         Dashboard
        </a>          
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
          </div>
          Blogs
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
                 <%= link_to 'All Blogs',  admin_blogs_path ,  class:"nav-link"%>
             <%= link_to 'New Blog',  new_blog_path ,  class:"nav-link"  %>
          </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayout" aria-expanded="false" aria-controls="collapseLayout">
          <div class="sb-nav-link-icon">
            <i class="fas fa-file"></i>
          </div>
          Category
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseLayout" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
                  <%= link_to 'All Categories', admin_category_path,  class: "nav-link"  %>
                      <%= link_to 'New Category',  new_category_path ,  class:"nav-link"  %>
                      
          </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapselayouts" aria-expanded="false" aria-controls="collapselayouts">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tags"></i>
          </div>
          Tags
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapselayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
                  <%= link_to 'All Tags', admin_tag_path,  class: "nav-link"  %>
                      <%= link_to 'New Tag',  new_tag_path ,  class:"nav-link"  %>
                      
          </nav>
        </div>
        <a class="nav-link" href="/admin/users">
          <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
            Users
        </a>
        <a class="nav-link" href="#">
          <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
            settings
        </a>      
      </div> 
    </div>   
  </nav>
</div>




