<aside class="app-sidebar">
      <div class="app-sidebar__user">
        <center>
          <p class="app-sidebar__user-name">
            <%= image_tag("user.png", style: "height:50%; width:50%;") %><br>
              <b>Admin:- <%= @admin %></b>
          </p>    
        </center>
      </div>
      <ul class="app-menu">
         <li class="app-menu__item active">
          <i class="app-menu__icon fa fa-dashboard"></i>
            <span class="app-menu__label">
              <%= link_to "Dasboard" , admin_root_path  , class: "app-menu__label"%>
            </span>
        </li>
        <li class="app-menu__item">
          <i class="app-menu__icon fa fa-file-code-o"></i>
            <span class="app-menu__label"> 
              <%= link_to 'All Blogs',  admin_blogs_path ,  class: "app-menu__label"  %>
            </span>
        </li>
        <li class="app-menu__item">
          <i class="app-menu__icon fa fa-files-o"></i>
            <span class="app-menu__label"> 
              <%= link_to 'All Categories', admin_category_path,  class: "app-menu__label"  %>
            </span>
        </li>
        <li class="app-menu__item">
          <i class="app-menu__icon fa fa-tag"></i>
            <span class="app-menu__label"> 
              <%= link_to 'All Tags', admin_tag_path,  class: "app-menu__label"  %>
            </span>
        </li>
        <li class="app-menu__item">
          <i class="app-menu__icon fa fa-tag"></i>
            <span class="app-menu__label"> 
              <%= link_to 'All user', admin_users_path,  class: "app-menu__label"  %>
            </span>
        </li>     
      </ul>
    </aside>