<%= render 'sidebar' %>
  <main class="app-content">
    <div class="app-title">
      <div>
        <h1>
        	<i class="fa fa-dashboard"></i> Category
        	<hr>
        </h1>
        <p><%= link_to 'Create New Category', new_category_path , class:"btn btn-primary icon-btn"%>
        </p>   
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a > Categories</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title"> All Category </h3>
						<table class="table table-hover table-bordered">
						  <thead>
						    <tr>
						      <th>Sr.No</th>
						      <th>Body</th>
						   
						    </tr>
						  </thead>
						  <tbody>
						    <% @categories.each do |category| %>
						      <tr>
						        <td><%= category.id %></td>
   					        <td><%= category.name%></td>
						        <td><%= link_to 'Show', category ,class: "btn btn-outline-primary" %>
                    </td>
						        <td><%= link_to 'Edit', edit_category_path(category),class: "btn btn-outline-secondary"   %></td>
						        <td> <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger"  %>  </td>
						      </tr>
						    <% end %>
						  </tbody>
						</table>     
        </div>
      </div>
    </div>
  </main>