<%= render 'sidebar' %>
  <main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
        <p>Welcome To Dashboard!!</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a>Dashboard</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
          <i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>Users</h4>
                <p><b><%=@users.count %></b></p>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon">
          <i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
              <h4>Blogs</h4>
                <p><b><%=@blogs.count %></b></p>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
          <div class="info">
            <h4>Categories</h4>
            <p><b><%=@categories.count %></b></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon">
          <i class="icon fa fa-star fa-3x"></i>
            <div class="info">
              <h4>Tags</h4>
                <h4><b><%=@tags.count %></b></h4>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="tile">
          <h3 class="tile-title">Recent Activities</h3>
          <center>
            <%= image_tag("piechart.png") %><br>
          </center>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tile">
          <h3 class="tile-title"> Requests </h3>
          <div class="embed-responsive embed-responsive-16by9">
            <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
          </div>
        </div>
      </div>
    </div>
  </main>