<%= render 'sidebar' %>
<div id="layoutSidenav_content">
 	<main>
      <div class="container-fluid px-4">
          <h1 class="mt-4">Tables</h1>
          <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
              <li class="breadcrumb-item active">Tag</li>
          </ol> 
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-table me-1"></i>
                  All Tags
              </div>
              <div class="card-body">
              <table class="table table-hover table-bordered">
						  <thead>
						    <tr>
						      <th>Sr.No</th>
						      <th>Body</th>
						   
						    </tr>
						  </thead>
						  <tbody>
						    <% @tags.each do |tag| %>
						      <tr>
						        <td><%= tag.id %></td>
   					        <td><%= tag.name%></td>
						        <td><%= link_to 'Show', tag ,class: "btn btn-outline-primary" %>
                    </td>
						        <td><%= link_to 'Edit', edit_tag_path(tag),class: "btn btn-outline-secondary"   %></td>
						        <td> <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger"  %>  </td>
						      </tr>
						    <% end %>
						  </tbody>
						</table>     
              </div>
          </div>
      </div>
  </main>
</div>
