<%= form_with(model: [:admin, user], local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<table class="table">
  <tr>
    <div class="col-md-8">
      <td><%= form.label :email %></td>
      <td><input type="text" value="<%= @user.email %>" name="user[email]" id="user_email"></td>
    </div>
  </tr>
  <tr>
    <div class="col-md-8">
      <td><%= form.label :name %></td>
      <td><%= form.text_field :name %></td>
    </div>
  </tr>

  <tr>
    <div class="col-md-8">
      <td><%= form.label :role %></td>
      <td><%= form.text_field :role %></td>
    </div>
  </tr>
  <br>
  <br><br>

  <% @user.hobbies.each_with_index do |hobby, i| %> 
    <div>
      <input type="hidden" value="<%= hobby.id %>" name="user[hobbies_attributes][<%= i %>][id]">
      <label>Hobby#<%= i + 1%>: <input type="text" value="<%= hobby.name %>" name="user[hobbies_attributes][<%= i %>][name]"></label>
      <input type="hidden" value="false" name="user[hobbies_attributes][<%= i %>][_destroy]">
      <input type="checkbox" value="true" name="user[hobbies_attributes][<%= i %>][_destroy]">
    </div>
  <% end %>
  <tr>
    <td><label>New Hobby:</td> 
      <td><input type="text" value="" name="user[hobbies_attributes][<%= @user.hobbies.count %>][name]"></td> </label>
  </tr>
<tr>
  <div class="action">
    <td><%= form.submit  class: "btn-submit" %></td>
  </div>
</tr>
</table>
<% end %>
