<!DOCTYPE html>
<html>
  <head>
    <title>W3demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  </head>
  </head>

  <body>
    
    <div class="header">
      <%= link_to "Home", root_path %>
      <% if user_signed_in? %>
        <b>Welcome <%= current_user.email %></b>,
        <%= link_to "Log Out", destroy_user_session_path %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
      <% end %>
    </div>

    <div class="navbar">
     <h1> <%= link_to "Blog", root_path %></h1> 
        
    </div>

    <% if params[:controller] == "blogs" && params[:action] == "index"%>
    <div class="blogsection">
      <h1>Welcome to Blog</h1>
    </div>
    <% end %>

    <div class="main">
       <%= yield %>      
    </div>

    <div class="footer">
      <h6>Copyright@2021-  Blog Demo</h6>
      <%= image_tag("facebook.png")  %>
      <%= image_tag("email.png")  %>
      <%= image_tag("linkedin.png")  %>    
    </div>
   




  </body>
</html>
