<!DOCTYPE html>
<html>
  <head>
    <title>W3demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application'%>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%= render "blogs/header" %>

    <div class="main">
       <%= yield %>      
    </div>

    <div class="footer">
      <h6>Copyright@2021- Blog Demo</h6>
      <%= image_tag("facebook.png")  %>
      <%= image_tag("email.png")  %>
      <%= image_tag("linkedin.png")  %>    
    </div>
  </body>
</html>
